
@media screen and (min-width: 1000px)
{
    #portfoliogrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "about   about"
                             "boxes   boxes"
                             "boxes   boxes";
    
        max-width: 70vw;
        margin: 0 auto;
        transform: skew(-12deg)
    }

    #topleft {
        position: fixed;
        text-wrap: wrap;
        max-width: 250px;
        background-color: #f06449;
    }

    nav {
        max-width: 150px;
    }

    .gridbox img {
        width: 120%;
        transform: skew(12deg) translateX(-10%);
        object-fit: cover;
        float: left;
    }

    #about img {
        transform: skew(12deg) translateX(-20px);
        height: 100%;
        width: 200px;
        object-fit: cover;
    }

    object {
        transform: skew(12deg);
        display: block;
        margin: auto;
        width: 80%;
        height: 80%;
    }

    #contact {
        text-align: right;
        position: absolute;
        bottom: -800px;
        right: 3vw;
        background-color: #5bc3eb;
    }
}


@media screen and (max-width: 1000px) {
    #portfoliogrid {
        margin: 0 auto;
    }

    #about img {
        margin: auto;
        display: block;
        height: 100%;
        width: 50%;
        object-fit: cover;
    }

    object {
        display: block;
        margin: 10px auto;
        height: 100%;
        width: 100%;
    }

    #resume {
        height: 800px
    }

    .gridbox img {
        width: 100%;
        object-fit: cover;
        float: left;
    }
}

body {
    background-color: #00bd9d;
}

p, a, li {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    color: #36382e;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', 'League Spartan', sans-serif;
    margin: 1rem;
    color: #36382e;
}

.gridboxleft p, .gridboxright p {
    margin: 2em;
}

.gridbox {
    margin: 10px;
    background-color: #ede6e3;
    border: 8px solid #36382e;
    overflow: hidden;
}

.gridboxleft {
    grid-column: 1;
}

.gridboxright {
    grid-column: 2;
}

#topleft a{
    margin: 1rem;
}

#about {
    grid-area: about;
    overflow: hidden;
}

.abouttext {
    margin: 2em;
    transform: translateX(20px)
}

#contact p {
    margin-right: 1em;
    margin-left: 2em;
}

